{% extends "es/layout.html" %}

{% block script %}

     <!-- trovabiomassa JS  -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.migrate.js"></script>
    <script type="text/javascript" src="/static/js/modernizrr.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/static/js/nivo-lightbox.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.appear.js"></script>
    <script type="text/javascript" src="/static/js/count-to.js"></script>
    <script type="text/javascript" src="/static/js/jquery.textillate.js"></script>
    <script type="text/javascript" src="/static/js/jquery.lettering.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.parallax.js"></script>
    <script type="text/javascript" src="/static/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>

	<!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

{% endblock %}

{% block body %}

      
		<!-- Start Home Slider -->
		<div id="slider">
        
            <!-- START REVOLUTION SLIDER 3.1 rev5 fullwidth mode -->
            <div class="fullwidthbanner-container">
                <div class="fullwidthbanner" >
                    <ul>
                    
                    	<!-- SLIDE 1 -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
                            <!-- MAIN IMAGE -->
                            <img src="/static/images/slide-01-bg.jpg" data-fullwidthcentering="on" alt="slidebg2"  data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">
                            
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption uppercase big_font_size boldest_font_weight dark_font_color sft start"
                                data-x="540"
                                data-y="125"
                                
                                data-speed="300"
                                data-start="1600"
                                data-easing="easeOutExpo">Plataforma online <br/> <span class="accent-color"> de geolocalización <br/> biocombustibles </span> <br>
                           
                            </div>
                            
                           <!-- LAYER NR. 3 -->
                            <div class="tp-caption mini_font_size light_font_weight gray_font_color sfr start"
                                data-x="540"
                                data-y="250"
                                
                                data-speed="300"
                                data-start="2200"
                                data-easing="easeOutExpo">Encuentre su distribuidor <br/> Encuentre informaci&oacute;n &uacute;til para su sistema de calefacci&oacute;n.
                            </div>
                            
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption sfb start"
                                data-x="540"
                                data-y="314"
                                
                                data-speed="300"
                                data-start="2500"
                                data-easing="easeOutExpo"><a href="/es/busquabiomasa" class="tp-caption btn-system btn-large border-btn btn-gray">Encuentre Biomasa</a>
                            </div>
                            
                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption sfl start"
                                data-x="120"
                                data-y="center"
                                
                                data-speed="1000"
                                data-start="1000"
                                data-easing="Power1.easeOut"><img src="/static/images/slide-02-image-01.png" alt="" />
                            </div>
                            
                        </li>
                        
                        
                        <!-- SLIDE 2  -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
                            <!-- MAIN IMAGE -->
                            <img src="/static/images/slide-01-bg.jpg" data-fullwidthcentering="on" alt="slidebg1"  data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">
                            
                            <!-- LAYER NR. 1 -->
                              <div class="tp-caption sfr start"
                                data-x="center"
                                data-y="center"
                                
                                data-speed="600"
                                data-start="1000"
                                data-easing="Power1.easeOut"><img src="/static/images/logo-slider01.png" alt="" />
                            </div>
                            
                            <!-- LAYER NR. 2 -->
                             <div class="tp-caption fade start"
                                data-x="center"
                                data-y="center"
                                
                                data-speed="1200"
                                data-start="1400"
                                data-easing="Power1.easeOut"><img src="/static/images/slide-frecce02.png" alt="" />
                            </div>
                            
                            <!-- LAYER NR. 3 -->
                             <div class="tp-caption sft start"
                                data-x="240"
                                data-y="320"
                                
                                data-speed="600"
                                data-start="3000"
                                data-easing="easeOutExpo"><a href="#" class="btn-system btn-medium btn-green"><h3>FABRICANTE</h3></a>
                            </div>
                            
                            <!-- LAYER NR. 4 -->
                             <div class="tp-caption sft start"
                                data-x="710"
                                data-y="320"
                                
                                data-speed="600"
                                data-start="3000"
                                data-easing="easeOutExpo"><a href="#" class="btn-system btn-medium btn-green"><h3>DISTRIBUIDOR</h3></a>
                            </div>
                            
                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption sft start"
                                data-x="center"
                                data-y="60"
                                
                                data-speed="600"
                                data-start="3000"
                                data-easing="easeOutExpo"><a href="#" class="btn-system btn-medium btn-green"><h3>CONSUMIDOR</h3></a>
                            </div>
                            
                              <!-- LAYER NR. 5 -->
                            <div class="tp-caption fade start"
                                data-x="center"
                                data-y="120"
                                
                                data-speed="1200"
                                data-start="3600"
                                data-easing="Power1.easeOut"><img src="/static/images/slide-frecce01.png" alt="" />
                            </div>
                            
                        </li>
                        
                  <!-- SLIDE 3 -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
                            <!-- MAIN IMAGE -->
                            <img src="/static/images/slide-01-bg.jpg" data-fullwidthcentering="on" alt="slidebg2"  data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">
                            
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption uppercase big_font_size boldest_font_weight dark_font_color sft start"
                                data-x="540"
                                data-y="125"
                                
                                data-speed="300"
                                data-start="1600"
                                data-easing="easeOutExpo"><span class="accent-color">Haga clic en </span> <br> abajo
                            </div>
                            
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption medium_font_size regular_font_weight dark_font_color sfl start"
                                data-x="540"
                                data-y="208"
                                
                                data-speed="300"
                                data-start="1900"
                                data-easing="easeOutExpo">Para encontrar el producto que busca
                            </div>
                            
                             <!-- LAYER NR. 4 -->
                               <div class="tp-caption sfl start"
                                data-x="120"
                                data-y="center"
                                
                                data-speed="1000"
                                data-start="1000"
                                data-easing="Power1.easeOut"><img src="/static/images/slide-02-image-01.png" alt="" />
                            </div>
                            
                            
                            <!-- LAYER NR. 5 -->
                         
                            
                              <div class="tp-caption sfb start"
                                data-x="600"
                                data-y="260"
                                
                                data-speed="1000"
                                data-start="1600"
                                data-easing="Power1.easeOut"><img src="/static/images/slide-freccia-down.png" alt="" />
                            </div>
                            
                        </li>
                              
                        
                        
                    </ul>
                    <div class="tp-bannertimer" style="visibility:hidden;"></div>
                </div>
            </div>
            
            <!-- THE SCRIPT INITIALISATION -->
            <!-- LOOK THE DOCUMENTATION FOR MORE INFORMATIONS -->
            <script type="text/javascript">
                var revapi;
                jQuery(document).ready(function() {
					revapi = jQuery('.fullwidthbanner').revolution({
						
						delay:9000,
						startwidth:1140,
						startheight:450,
						hideThumbs:200,
						
						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:3,
						
						navigationType:"none",
						navigationArrows:"solo",
						navigationStyle:"round",
						
						touchenabled:"on",
						onHoverStop:"on",
						
						navigationHAlign:"center",
						navigationVAlign:"bottom",
						navigationHOffset:0,
						navigationVOffset:20,

						soloArrowLeftHalign:"left",
						soloArrowLeftValign:"center",
						soloArrowLeftHOffset:20,
						soloArrowLeftVOffset:0,

						soloArrowRightHalign:"right",
						soloArrowRightValign:"center",
						soloArrowRightHOffset:20,
						soloArrowRightVOffset:0,
								
						shadow:0,
						fullWidth:"on",
						fullScreen:"off",
						lazyLoad:"on",

						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,

						shuffle:"off",
						
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						startWithSlide:0,	
                	});
                });
            </script>
                 
        </div>
        <!-- End Home Slider -->
      
      
      

		<!-- Start Content -->
		<div id="content">
			<div class="container">
            
            <!-- Start Page Menu -->
 		<div class="container">
			<div class="row">
                            <div id="main-nav">
                            {% for v in products %}
                <div class="menu-btn-tb"><a href="/es/busquabiomasa/{{v.1}}/"><i id="{{v.3}}" class="icon-largesquare-effect ico-effect"></i></a><div class="title-element">{{v.2}}</div></div>      
                            {% endfor %}
                            </div>
                        </div>
		</div>
		<!-- End Page Menu -->

         
            
                <!-- Start Services Icons -->
            	<div class="row">
                
                            <!-- Divider -->
                <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>    
                
                 <!-- Start Icon Box 1-->
                        <div class="col-md-3 service-box service-center">
                            <div class="service-boxed">
                                <div class="service-icon" style="margin-top:-25px;">
                                    <i class="icon-users icon-medium-effect icon-effect-2 gray-icon"></i>
                                </div>
                                <div class="service-content">
                                     <h4> Qui&eacute;nes somos </h4>
                                     <p> Somos un grupo de jóvenes profesionales que re&uacute;ne la experiencia en ingenier&iacute;a y la informaci&oacute;n para hacer posible una recuperaci&oacute;n del mercado de la biomasa m&aacute;s eficiente y por lo tanto m&aacute;s beneficioso para todo el mundo:. empleadores, clientes y el medio ambiente </p>
                                 </div>
                            </div>
                        </div>
                        <!-- End Icon Box 1-->
                        
                        <!-- Start Icon Box 2-->
                        <div class="col-md-3 service-box service-center">
                            <div class="service-boxed">
                                <div class="service-icon" style="margin-top:-25px;">
                                    <i class="icon-leaf icon-medium-effect icon-effect-2 gray-icon"></i>
                                </div>
                                <div class="service-content">
                                     <h4> Qu&eacute; Hacemos </h4>
                                     <p> Nos contactamos agroforestales, productores de pellets, los minoristas y los consumidores para una integraci&ograve;n rentable de la cadena de la energ&iacute;a de la biomasa s&oacute;lida. Queremos acortar la distancia entre el usuario final y el fabricante / distribuidor, para que sea m&aacute;s f&aacute;cil de usar para todos estos recursos. Nuestro objetivo es promover tambi&eacute;n la biomasa residual, que tiene la energ&iacute;a un&apos;impatto m&aacute;s ligero, como las c&aacute;scaras de frutos secos (pi&ntilde;ones, avellanas) y de procesamiento de residuos agroindustriales (orujo agotado, residuos de man&iacute; y semilla de durazno). </p>
                                 </div>
                            </div>
                        </div>
                        <!-- End Icon Box 2-->
                        
                        <!-- Start Icon Box 3-->
                        <div class="col-md-3 service-box service-center">
                            <div class="service-boxed">
                                <div class="service-icon" style="margin-top:-25px;">
                                    <i class="icon-cog icon-medium-effect icon-effect-2 gray-icon"></i>
                                </div>
                                <div class="service-content">
                                     <h4>C&oacute;mo</h4>
                                     <p>pasi&oacute;n, a trav&eacute;s de herramientas innovadoras, respetando las normas nacionales e internacionales, que ayuda a eliminar los residuos y las emisiones de CO2. Nuestro sitio tiene una estructura que sea accesible desde dispositivos m&oacute;viles como tablets y smartphones. En cuanto a informaci&oacute;n sobre la biomasa incluidos en el sitio web que utilizamos socios establecidos que trabajan en el campo desde hace a&ntilde;os. </p>
                                 </div>
                            </div>
                        </div>
                        <!-- End Icon Box 3-->
                        
                        <!-- Start Icon Box 4-->
                        <div class="col-md-3 service-box service-center">
                            <div class="service-boxed">
                                <div class="service-icon" style="margin-top:-25px;">
                                    <i class="icon-check icon-medium-effect icon-effect-2 gray-icon"></i>
                                </div>
                                <div class="service-content">
                                     <h4>Porque</h4>
                                     <p>Por lo que nos imaginamos. Queremos dar m&aacute;s visibilidad y hacer m&aacute;s empresas competitivas que respeten el medio ambiente gracias a los servicios que ofrecemos. Tambi&eacute;n queremos asegurarnos de que todo el mundo, de forma gratuita, a tener acceso a este servicio a la biomasa del stock, elegir el origen, el costo y el tipo. Debido a los altos costos econ&oacute;micos y sociales de la producci&oacute;n de energ&iacute;a, creemos que una cadena de suministro saludable, transparente y accesible a todos, podr&iacute;a contribuir a desarrollar m&aacute;s sostenible en esta materia. </ p>
                                 </div>
                            </div>
                        </div>
                        <!-- End Icon Box 4-->  
                   
                </div>
                <!-- End Services Icons -->
                
                <!-- Divider -->
                <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
                
                <!-- Start Clients Carousel -->
                <div class="our-clients">
                    
                    <!-- Classic Heading -->
                	<h4 class="classic-title"><span>Partners</span></h4>
                    
                    <div class="clients-carousel custom-carousel touch-carousel" data-appeared-items="5">
                        
                        <!-- Client 1 
                    	<div class="client-item item">
                        	<a href="#"><img src="/static/images/sponsor.png" alt="" /></a>
                    	</div>
                        
                        
                        <div class="client-item item">
                        	<a href="#"><img src="/static/images/sponsor.png" alt="" /></a>
                    	</div>
                        
                        -->
                        <div class="client-item item">
                        	<a target="_blank" href="http://www.sibesrl.it/"><img class="img-thumbnail" src="http://www.sibesrl.it/templates/sibe/media/img/main_logo.jpg" alt="" /></a>
                    	</div>
                        
                        <!-- Client 4 
                        <div class="client-item item">
                        	<a href="#"><img src="/static/images/sponsor.png" alt="" /></a>
                    	</div>
                        
                       >
                        <div class="client-item item">
                        	<a href="#"><img src="/static/images/sponsor.png" alt="" /></a>
                    	</div>
                        
                        
                        <div class="client-item item">
                        	<a href="#"><img src="/static/images/sponsor.png" alt="" /></a>
                    	</div>
                        
                        
                        <div class="client-item item">
                        	<a href="#"><img src="/static/images/sponsor.png" alt="" /></a>
                    	</div>
                        
                        
                        <div class="client-item item">
                        	<a href="#"><img src="/static/images/sponsor.png" alt="" /></a>
                    	</div>
                        -->
                	</div>
                </div>
                <!-- End Clients Carousel -->
                
             
                         
		  </div>
		</div>
		<!-- End Content -->

    
 {% endblock %}




