{% extends "es/layout.html" %}

{% block script %}
    <!-- trovabiomassa JS  -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.migrate.js"></script>
    <script type="text/javascript" src="/static/js/modernizrr.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/static/js/nivo-lightbox.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.appear.js"></script>
    <script type="text/javascript" src="/static/js/count-to.js"></script>
    <script type="text/javascript" src="/static/js/jquery.textillate.js"></script>
    <script type="text/javascript" src="/static/js/jquery.lettering.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.parallax.js"></script>
    <script type="text/javascript" src="/static/js/jquery.themepunch.plugins.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>

	<!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<script>
product = '{{product}}'
var pdcts = {{pdctsJSON|safe}}
//console.log(pdcts)
var icon = 'ico-'+pdcts[product]
//console.log(icon)

</script>

{% endblock %}


{% block body %}

{% if message %} {{message}}{% endif %}

<p>El servicio en el territorio español se encuentra todav&iacute;a en la fase experimental.
Si desea que se le mantenga al d&iacute;a, suscr&iacute;base al bolet&iacute;n.</p>
  
{% endblock %}
