{% extends "es/layout.html" %}

{% block script %}
    <!-- trovabiomassa JS  -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.migrate.js"></script>
    <script type="text/javascript" src="/static/js/modernizrr.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/static/js/nivo-lightbox.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.appear.js"></script>
    <script type="text/javascript" src="/static/js/count-to.js"></script>
    <script type="text/javascript" src="/static/js/jquery.textillate.js"></script>
    <script type="text/javascript" src="/static/js/jquery.lettering.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.parallax.js"></script>
    <script type="text/javascript" src="/static/js/jquery.themepunch.plugins.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>

	<!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<script>
product = '{{product}}'
var pdcts = {{pdctsJSON|safe}}
//console.log(pdcts)
var icon = 'ico-'+pdcts[product]
//console.log(icon)

</script>

{% endblock %}


{% block body %}

{% if message %} {{message}}{% endif %}

<!-- Start Page Menu -->
		<div class="page-banner" style=" padding:8px 0 16px 0; background: url(/static/images/slide-02-bg.jpg) center #f9f9f9;">
			<div class="container">
				<div class="row">
                <div id="main-nav">
		            {% for v in products %}
                                   {% if v.2 == product %}
                            <div class="menu-btn-tb"><i id="{{v.3}}" class="hovered icon-largesquare-effect ico-effect"></i><div class="title-element">{{v.2}}</div></div>      
                                   {% else %}
                                   <div class="menu-btn-tb"><a href="/es/busquabiomasa/{{v.1}}/"><i id="{{v.3}}" class="icon-largesquare-effect ico-effect"></i></a><div class="title-element">{{v.2}}</div></div> 
                                   {% endif %}

                            {% endfor %}		
                </div>
                
                </div>
                
            <!-- Start Product search -->
            
            <div class="row" style="margin-top:3%;">
                    
                        <!-- Start Image Service Box 1 -->
                        <div class="col-sm-4">
                                        
                        </div>
                        <!-- End Image Service Box 1 -->
                        
                        <!-- Start Image Service Box 2 -->
                        <div class="col-sm-4 image-service-box">
                            <ul class="scheda-list">
                            <li><h4>Regi&oacute;n</h4></li>
                            <li><select class="form-control" id="reg">
                                <option value="0">Todos</option>
                                {% for k,v in regions.items %}
                                    {% if k == region %}
                                        <option value="{{v.0|safe}}" selected="selected">{{k|safe}}</option>
                                    {% else %}
                                 <option value="{{v.0|safe}}">{{k|safe}}</option>
                                    {% endif %}
                      
                                {% endfor %}
                            </select></li>
                            <li><h4>Provincia</h4></li>

             <li><select class="form-control" name="prov" id="prov">
                    <option value="0">Todos</option>
                    </select></li>

            


                        <!-- End Image Service Box 2 -->
                

<li><a href="#" class="btn-large btn-trovabiomassa" id="biomassa-searchFuel" name="searchFuel">Busqua Biomasa</a></li>


    </ul>           </div>      </div>
                        <!-- End Image Service Box 3 -->
                        
       <div class="col-sm-2 image-service-box"></div>  
                        
                    </div>
            
            <!-- end product search -->    
                
                
                
			</div>
		</div>
		<!-- End Page Menu -->

        
		<!-- Start Content -->
		<div id="content">
			<div class="container">
            
              <!-- Start Navigation -->
             
       
         
                <!-- Divider -->
              <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
                
                <!-- Start tab -->
                <div class="row">
                    <div class="tabs-section">
                            
                            <!-- Nav Tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab-1" data-toggle="tab"><i class="icon-doc-text-1"></i>Descripción</a></li>
                                <li><a href="#tab-2" data-toggle="tab"><i class="icon-beaker"></i>Caracterizaci&oacute;n energ&eacute;tica</a></li>
                                <li><a href="#tab-5" data-toggle="tab"><i class="icon-droplet"></i>Certificaciones</a></li>
                            </ul>
                            
                            <!-- Tab panels -->
                            <div class="tab-content">
                                <!-- Tab Content 1 -->
                                <div class="tab-pane fade in active" id="tab-1">
                                    {{description|safe}}
                                </div>
                                <!-- Tab Content 2 -->
                                <div class="tab-pane fade" id="tab-2">
                                        <div class="row">
                                            <div class="col-md-8">
                                            	<p><a href="http://www.sibesrl.it"><img class="" style="float:left; width:auto;" alt="" src="http://www.sibesrl.it/templates/sibe/media/img/main_logo.jpg" /></a>SIBE S.r.l. - Sistemi Innovativi Biomasse Energetiche <br/> Spin-off de la Universidad Polit&eacute;cnica des Marche - Via S. Totti, 3 - 60131 AN <br/> P.IVA e C.F. 02324870423 <br/> Ufficio : 071 7109305 (tel) 071 9945896 (fax) - www.sibesrl.it - email: info@sibesrl.it
                                              </p>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-8">
                                            
                                                {% if burning %}
                                                {{burning|safe}}
                                                {% else %}
                                                dato non disponibile
                                                {% endif %}
                                            
                                            </div>
                                        </div>
                                </div>
                                <!-- Tab Content 5 -->
                                <div class="tab-pane fade" id="tab-5">
                                	<p>
                                        {% if certif %}
                                        {{certif|safe}}
                                        {% else %}
                                        dato non disponibile
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <!-- End Tab Panels -->
                          
                        </div>
                
                </div>
                <!-- End tab -->
                
           <!-- Divider -->
                <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>    
                         
		  </div>
		</div>
		<!-- End Content -->
      





<script>
$(document).ready(function () {
$("#page_icon").children().attr('id', icon)

/* INIT STATE */
var regions = {{regionsJSON|safe}};
/*
{"Lazio": ["lazio", [["Roma", "roma"]]], "Toscana": ["toscana", [["Firenze", "firenze"]]], "Umbria": ["umbria", [["Perugia", "perugia"], ["Terni", "terni"]]]};

console.log(regions);

{"Centrale": "centrale", "Sansa vergine essiccata": "sansa+vergine+essiccata", "Gusci di pinoli": "gusci+di+pinoli", "Cippato": "cippato", "Gusci di mandorla": "gusci+di+mandorla", "Inserto per camino": "inserto+per+camino", "Trasporto": "trasporto", "Termocamino": "termocamino", "Nocciolo di pesca": "nocciolo+di+pesca", "Stufa": "stufa", "Pellet": "pellet", "Gusci di nocciola": "gusci+di+nocciola", "Legna da ardere": "legna+da+ardere", "Nocciolino di sansa": "nocciolino+di+sansa", "Sansa esausta": "sansa+esausta"}
*/

var initState = { pdct : pdcts['{{product|safe}}'], 
                 region:'', 
                 province:''
               };
var state = {};

var provSelect = document.getElementById('prov');
var regSelect = document.getElementById('reg');

var resetSelects = function(){
    var Selects = document.getElementsByTagName('select');
    for (var i=0;i<Selects.length;i++){
        if (i > 0){
           obj = Selects[i]
           obj.value = 0
           provSelect.setAttribute('disabled', 'disabled');
        }
    }
    //console.log("before:", state)
    state = { pdct : pdcts['{{product|safe}}'], 
                 region:'', 
                 province:''
               };
    //console.log("after:", state)
    
}
resetSelects()

$("#reg").on('change',  function(e){
                        //console.log($(this).val())
                        
                        if ($(this).val() != '0') {
                             //enable and populate province select
                             var s = $(this).children("option").filter(":selected").text()
                             //console.log(s)
                             provSelect.removeAttribute('disabled');
                             $('#prov').find('option').remove().end()
                             
                             var option = '<option value="">Tutte le province</option>';
                             var provList = regions[s]
                             
                             for (i=1;i<provList.length;i++){
                                provinces = provList[i]
                                //console.log(provinces)
                                for (k=0;k<provinces.length;k++){
                                      option += '<option value="'+ provinces[k][1] + '">' + provinces[k][0] + '</option>';
                                }
                             }
                             $('#prov').append(option);
                             state.region = $(this).val()
                             
                        }
                        else resetSelects()
                        //console.log(state)
          })

$("#prov").on('change',  function(e){
                        state.province = $(this).val() 
                        //console.log(state)
          });

$("#biomassa-searchFuel").on('click', function(){ 
                              //console.log(state)
                              path = location.host
                              path += '/it/trovabiomassa/'+state.pdct+'/'
          
       
                              if (!state.region == '') path += state.region+'/'
                              if (!state.province == '') { path += state.province+'/'; }
                              //console.log(path) 
                              window.location.href = 'http://'+path
          });


//console.log(provSelect.disabled);

var searchFuel = function(state, prov, reg){
    province = ''
    
    if (reg != ''){
    reg = regions[reg][1]
       
    for (var i=0;i<reg.length;i++){
         var e = reg[i]
         //console.log('here', e)
         if (e[0] == prov) province = e[1]
    }
    state.province = province;
    //console.log(state)
    }
    path = location.host
    path += '/trovabiomassa/'+state.pdct+'/'
          
       
       if (!state.region == '') path += state.region+'/'
       if (!state.province == '') { path += state.province+'/'; }
    //console.log(path) 
    window.location.href = 'http://'+path
    
}

// hack for aoiding collapse to scroll up
$('a[data-toggle="collapse"]').click(function(e){
  e.preventDefault();
  $(this).data('target').slideToggle();
});

});
</script> 

<style>
.c1 {color: #4E741C;}
</style>
  
{% endblock %}
